@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";
@font-face {font-family: 'LaDanse';src: url('webfonts/1A28CF_0_0.eot');src: url('webfonts/1A28CF_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/1A28CF_0_0.woff') format('woff'),url('webfonts/1A28CF_0_0.ttf') format('truetype');}


// 2. Set your own initial variables
// Update the blue shade, used for links
$yellow: #f6e37a;
$black: #040404;
$ocra: #c29c5e;
// Add pink and its invert
$family-sans-serif: "Helvetica", "Arial", sans-serif;
$body-background-color: black;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $yellow;
$size-1: 5rem;
$navbar-item-color: $yellow;

.hero {
	background: $black url(copertina2.jpg) center top no-repeat;
}
//@media (max-width: 1024) { .hero { background: black url (copertina2.jpg) center / cover; } }

h1{
	font-family: 'LaDanse';
	.title .is-1{
		color: $yellow;
	}
}

// 4. Import the rest of Bulma
@import "../node_modules/bulma/bulma.sass";


//helpers ### as per tutorial 
.center, .center-column, .top, .right, .bottom, .left {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-column {
    flex-direction: column;
}

.top    { align-items:     flex-start; }
.right  { justify-content: flex-end;   }
.bottom { align-items:     flex-end;   }
.left   { justify-content: flex-start; }


.single-spaced, .single-spaced * {
    line-height: 1;
}

@media (max-width: 1024px) {
	.desktop {
		display: none;
	}
}